*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ================== header ===================== */
header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    width: 100%;
    padding: 0 20px;
}
ul{
    list-style: none;
    display: flex;    
}
a{
    text-decoration: none;
}
li,.logo a{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    color: aliceblue;
}
li:hover, .logo a:hover{
    transform:scale(1.2);
    color: aquamarine;
}
nav li {
    margin: 0 20px;
}
#user-info{
    display: flex;
    align-items: center;
}
/* =================== main =======================*/
.sec-log,.sec-reg{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25%;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px oklch(68.5% 0.169 237.323),0 0 10px oklch(50.901% 0.11513 239.24);
    animation: bouns 2.5s infinite ease-in-out;
}
h1{
    color: aliceblue;
    padding: 10px 0;
}
input{
    width: 100%;
    border-radius: 10px;
    background-color:oklch(62.3% 0.214 259.815);
}
input[type="submit"]{
    border-radius: 10px;
    background-color: oklch(68.5% 0.169 237.323);
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 10px;
    padding: 15px 10px;
    border-radius: 10px;
    animation: borPuls 2.5s infinite ease-in-out;
}

@keyframes borPuls{
    0%, 100% {
        border-color: #06b6d4;
        box-shadow: 0 0 5px #06b6d4, 0 0 10px #06b6d4;
    }
    50% {
        border-color: #0e7490;
        box-shadow: 0 0 20px #22d3ee, 0 0 40px #22d3ee;
    }
}
@keyframes bouns{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
/* ============================== Home-page =============================================== */
.Home{
    margin-top: 7vh;
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}
.contianer{
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: yellowgreen;
    padding: 5px;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.product{
    border: 2px solid rebeccapurple;
    background-color:red;
    height: 150px;
    width: 450px;
    display: flex;
    align-items: center;
}
.product img{
    width: 35%;
    height: 100%;
    object-fit:contain;
    flex-shrink: 0;
}
.product-des{
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
}
.product-act{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 4px;
    flex-shrink: 0;
    padding: 2px 10px;
}
.fav{
    display: inline-block;
    cursor: pointer;
}